body { font-family: sans-serif; }

.scene {
    width: 80vw;
    height: 80vh;
    margin: 10vh 10vw;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    padding: 6px;
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card__face--front {
    background-color: #F7F7F7;
}

.card__face--front--head {
    text-align: center;
    font-weight: bold;
}

.card__face--front--body {
    text-align: center;
    padding-top: 50vh;
    font-weight: bold;
}

.card__face--back {
    background-color: #F7F7F7;
    transform: rotateY(180deg);
    height: 80vh;
    overflow: scroll;
}

iframe {
    overflow: scroll !important;
    width: 100%;
    height: 100vh;
    border: none !important;
}
